body {
  background-color: #282c34;
}

.container {
  text-align: center;
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
  max-width: 640px;
}

input {
  color: white;
  font-size: 1.2em;
}

ul {
  list-style-type: none;
}

.guess {
  font-size: 1.8em;
  margin-top: 8px;
}

.delete {
  margin-left: 36px;
  /* padding-bottom: 8px; */
  cursor: pointer;
}

.box {
  /* height: 24px;
  width: 16px; */
  padding: 2px 12px;
  display: inline-block;
  margin-left: 8px;
  /* color: black; */
}

.text-white {
  color: white !important;
}

.green {
  background-color: #6faf62 !important;
}

.yellow {
  background-color: #ddaa28 !important;
}

.white {
  background-color: #6a708e !important;
}

.ml-3 {
  margin-left: 12px;
}

.mb-0 {
  margin-bottom: 0;
}

.error {
  font-weight: 700;
  color: red;
}

.keyboard {
  max-width: 480px;
  text-align: center;
  margin: 0 auto;
}

.keyboard-row {
  display: flex;
  justify-content: space-around;
  margin: 24px;
}

.keyboard-key {
  display: inline;
  /* height: 32px;
  width: 8px;
  margin: 8px; */
  padding: 8px;
  color: black;
  background-color: white;
}

.active-box {
  display: inline;
  height: 24px;
  width: 16px;
}

.invisible {
  color: #6a708e;
}

@media only screen and (max-width: 600px) {
  form {
    display: none;
    /* background-color: lightblue; */
  }
}
